In [1]:
import fitz
import numpy as np
import re
import pandas as pd
import polars as pl
import warnings
warnings.filterwarnings("ignore")

In [5]:
import re
import numpy as np
import pandas as pd
import 

class ParseBalances:
    def __init__(
        self,
        balances_list:list,
        
    )
    
    
    def read_balances()
    
    def split_paragraphs()
    
    def find_deployment()
    
    def find_foreign_forces()
    
    def get_hosts()
    
    def get_additional_info()

SyntaxError: invalid syntax (Temp/ipykernel_16976/535383540.py, line 4)

In [2]:
country_co_df = pd.read_excel('country_co_df.xlsx')
country_co_df['COUNTRY_CO'] = country_co_df['country_co'].str.upper()

In [3]:
%%time
balances_2013_2022 = []

for i in range(2013, 2024):
    data = []
    path= "balances pdf/" + str(i)+  ".pdf"
    with fitz.open(path) as doc:
        for page in doc:
            text = page.get_text()
            data.append(text)
    lines = []
    for i in [i.split('\n') for i in data]:
        for k in i:
            lines.append(k)

    balance='\n'.join(lines)

    balances_2013_2022.append(balance)

NameError: name 'fitz' is not defined

In [4]:
with open('binn/country_co.txt', encoding = 'utf-8') as file:
    lines  =  file.readlines() 
country_co = '!!!'.join(lines)
country_co = re.sub('\d','', country_co)
country_co = re.sub('\n',' ', country_co)
country_co = re.sub('\t',' ', country_co)
country_co = set(country_co.split('!!!') )
country_co = ['\n' + i.strip()  for i in country_co]

filtered_country_co =[]
regex = re.compile(r'(FYROM|Macedonia|Palesti|Gaza|DPRK|Jericho\sPA|DRC|Democratic\sPeopl|Democratic\sRepublic\sof|DRC|Congo\sDRC|Democratic\sRepublic\sof\sCongo\sDRC)')

for i in country_co:
    if len(re.findall(regex,i ) ) < 1 :
        filtered_country_co.append(i)
filtered_country_co.remove('\n')
filtered_country_co.extend(['\nMacedonian Denar', 
                            '\nNorth Korean Won',
                            '\nPalestinian Autonomous Areas',
                            '\nCongolese Franc',
                            "\nChina, People's Republic of PRC",
                            "\nCote D'Ivoire CIV"
                         
                           ])
country_co = sorted(filtered_country_co)
country_co.remove('\nSouth Sudan')

In [5]:
def split_paragraphs(balance, year):
    deployers = []
    paragraphs = []
    countries_dict = {}
    pattern = re.compile('(' + '|'.join(country_co) + ')')
    balance_splitted = re.split(pattern, balance)
    balance_cleaned = list(filter(None, balance_splitted))
    balance_cleaned = balance_cleaned[1:-2]
    countries_dict = {
        'country_co': balance_cleaned[0::2], 'paragraph':balance_cleaned[1::2]
    }
    df = pd.DataFrame(countries_dict)
    df['year'] = year
    df['country_co'] = df['country_co'].str.replace('\n', '')
    df['COUNTRY_CO'] = df['country_co'].str.upper()
    df.drop_duplicates(subset='country_co', inplace= True)
    df = df.merge(country_co_df[['COUNTRY_CO', 'deployer', 'cowc1', 'ccode1']], how='left', on ='COUNTRY_CO')
    #df.drop_duplicates(subset=['ccode1'], inplace=True)
    df['year_deployer'] = df['year'].astype(str) + '_' + df['deployer'].astype(str)
    df['year_ccode1'] = df['year'].astype(str) + '_' + df['ccode1'].astype(str)
    return df

In [6]:
%%time
countries_table = pd.DataFrame()
year_balance = 2012

for i in balances_2013_2022:
    res = split_paragraphs(i, year_balance)
    countries_table = pd.concat([ countries_table, res])
    
    print("Balance of {}  parsed successfully".format( year_balance))
    year_balance +=1
res = countries_table

Balance of 2012  parsed successfully
Balance of 2013  parsed successfully
Balance of 2014  parsed successfully
Balance of 2015  parsed successfully
Balance of 2016  parsed successfully
Balance of 2017  parsed successfully
Balance of 2018  parsed successfully
Balance of 2019  parsed successfully
Balance of 2020  parsed successfully
Balance of 2021  parsed successfully
Balance of 2022  parsed successfully
Wall time: 797 ms

In [200]:
res.head()

,country_co,paragraph,year,COUNTRY_CO,deployer,cowc1,ccode1,year_deployer,year_ccode1,deployment,foreign_forces_section
0,Canada CAN,\nCanadian Dollar $\n2011\n2012\n2013\nGDP \n...,2012,CANADA CAN,Canada,CAN,20,2012_Canada,2012_20,\nAFGHANISTAN\nNATO • ISAF (NTM-A) • Operation...,\nUnited Kingdom 420; 2 trg unit; 1 hel flt wi...
1,United States US,\nUnited States Dollar $\n2011\n2012\n2013\nG...,2012,UNITED STATES US,United States,USA,2,2012_United States,2012_2,"\nAFGHANISTAN\nNATO • ISAF 68,000; 1 corps HQ...",\nCanada 3 USCENTCOM; 303 NORTHCOM (NORAD)\nGe...
2,Albania ALB,\nAlbanian Lek \n2011\n2012\n2013\nGDP \nlek ...,2012,ALBANIA ALB,Albania,ALB,339,2012_Albania,2012_339,\nLegal provisions for foreign deployment:\nCo...,\nItaly 18 (Delegazione Italiana Esperti)
3,Albania ALB,\nAlbanian Lek \n2011\n2012\n2013\nGDP \nlek ...,2012,ALBANIA ALB,Albania,ALB,339,2012_Albania,2012_339,\nLegal provisions for foreign deployment:\nCo...,\nItaly 18 (Delegazione Italiana Esperti)
4,Austria A,UT \nEuro € \n2011\n2012\n2013\nGDP \n€\n301bn...,2012,AUSTRIA A,Austria,AUS,305,2012_Austria,2012_305,,no foreign forces

In [233]:
res['paragraph']

0       \nCanadian Dollar $\n2011\n2012\n2013\nGDP \n...
1       \nUnited States Dollar $\n2011\n2012\n2013\nG...
2       \nAlbanian Lek \n2011\n2012\n2013\nGDP \nlek ...
3       \nAlbanian Lek \n2011\n2012\n2013\nGDP \nlek ...
4      UT \nEuro € \n2011\n2012\n2013\nGDP \n€\n301bn...
                             ...
212    \nUgandan Shilling UGX\n2021\n2022\n2023\nGDP ...
213    \nUgandan Shilling UGX\n2021\n2022\n2023\nGDP ...
214    MB\nZambian Kwacha ZMW\n2021\n2022\n2023\nGDP ...
215    \nZimbabwe Dollar ZWL\n2021\n2022\n2023\nGDP \...
216    \nZimbabwe Dollar ZWL\n2021\n2022\n2023\nGDP \...
Name: paragraph, Length: 2405, dtype: object

In [247]:
par  = res['paragraph'].values[0]

In [282]:
def find_deployment(paragraph):
    pattern1 = re.compile('\nDEPLOYMENT')
    pattern2 = re.compile('\nFOREIGN\sFORCES')
    deployment_section_final = ''
    if len(re.findall(pattern1, paragraph)) > 0:
        deployment_section = re.split(pattern1, paragraph)[1]
        if len(re.findall(pattern2, deployment_section)) > 0:
            deployment_section = re.split(pattern2, deployment_section)[0]
            
        
    else:
        deployment_section = 'no deployment'
    return deployment_section

In [283]:
%%time
res['deployment'] = res['paragraph'].apply(lambda x: find_deployment(x))

Wall time: 60.2 ms

In [284]:
def find_foreign_forces(paragraph):
    pattern1 = re.compile('\nFOREIGN\sFORCES')
    if len(re.findall(pattern1, paragraph)) > 0:
        foreign_forces_section = re.split(pattern1, paragraph)[1]
    else:
        foreign_forces_section = 'no foreign forces'
    return foreign_forces_section

In [285]:
%%time
res['foreign_forces_section'] = res['paragraph'].apply(lambda x: find_foreign_forces(x))

Wall time: 49 ms

### Парсинг параграфа развертывания

In [342]:
host = pd.read_excel('host.xlsx')
host.head()

  host_balance         host ccode2 cowc2
0  AFGHANISTAN  Afghanistan    700   AFG
1      ALBANIA      Albania    339   ALB
2      ALGERIA      Algeria    615   ALG
3      ANDORRA      Andorra    232   AND
4       ANGOLA       Angola    540   ANG

In [343]:
deployment_data = res[res.deployment !='no deployment']

In [347]:
def parse_deployment_section(deployment_section):
    pattern = re.compile(r'(' + '|\n'.join(host['host_balance'])   + ')')
    deployment_splitted = re.split(pattern, deployment_section  )
    deployment_splitted = list(filter(None, deployment_splitted)) 
    deployment_splitted = [i.strip() for i in deployment_splitted]
    deployment_splitted = list(filter(None, deployment_splitted))
    if 'provisions' in deployment_splitted[0]:
        deployment_splitted = deployment_splitted[1:]
    if len(deployment_splitted) % 2 == 0:
        return dict(zip(deployment_splitted[::2], deployment_splitted[1::2]))
    else:
        return 'error'

In [349]:
%%time
deployment_data['deployment_parsed'] = deployment_data['deployment'].apply(lambda x: parse_deployment_section(x) )

Wall time: 422 ms

In [374]:
d = deployment_data[deployment_data.deployment_parsed != 'error']

In [371]:
df = pd.DataFrame({'dict_column': [{'key1': 'value1', 'key2': 'value2'}, 
                                   {'key3': 'value3', 'key4': 'value4'}]})

# Function to explode the dictionary into two columns
def explode_dict(row):
    keys = list(row.keys())
    values = list(row.values())
    return pd.DataFrame({'key': keys, 'value': values})

# Apply the function to each row in the DataFrame
exploded_df = df['dict_column'].apply(lambda x: explode_dict(x)).reset_index(drop=True)

# Merge the exploded DataFrame with the original DataFrame
result = pd.concat([df.drop('dict_column', axis=1), exploded_df], axis=1)

print(result)

                                       dict_column
0      key   value
0  key1  value1
1  key2  value2
1      key   value
0  key3  value3
1  key4  value4

In [366]:
data = {'ID': [1, 2, 3],
        'Details': [{'Name': 'John', 'Age': 25},
                    {'Name': 'Alice', 'Age': 30, 'City': 'New York'},
                    {'Name': 'Bob', 'Age': 28}]}

df = pd.DataFrame(data)

# Explode the 'Details' column and convert it into two separate columns
exploded_df = df.explode('Details')
exploded_df[['Key', 'Value']] = exploded_df['Details'].apply(pd.Series)

ValueError: Columns must be same length as key

In [362]:
data = {'ID': [1, 2, 3],
        'Details': [{'Name': 'John', 'Age': 25},
                    {'Name': 'Alice', 'Age': 30, 'City': 'New York'},
                    {'Name': 'Bob', 'Age': 28}]}

df = pd.DataFrame(data)

# Explode the 'Details' column
exploded_df = df.explode('Details')
exploded_df

   ID Details
0   1    Name
0   1     Age
1   2    Name
1   2     Age
1   2    City
2   3    Name
2   3     Age

In [363]:
df

   ID                                           Details
0   1                       {'Name': 'John', 'Age': 25}
1   2  {'Name': 'Alice', 'Age': 30, 'City': 'New York'}
2   3                        {'Name': 'Bob', 'Age': 28}

In [106]:
def get_hosts(deployment_section):
    pattern = re.compile(r'(' + '|\n'.join(host['host_balance'])   + ')')
    deployment_splitted = re.split(pattern, deployment_section  )
    deployment_splitted = list(filter(None, deployment_splitted)) 
    deployment_splitted = [i.strip() for i in deployment_splitted]
    deployment_splitted = list(filter(None, deployment_splitted))
    if 'provisions' in deployment_splitted[0]:
        deployment_splitted = deployment_splitted[1:]
    hosts = deployment_splitted[0::2]
    return hosts

In [107]:
def get_additional_info(deployment_section):
    pattern = re.compile(r'(' + '|\n'.join(host['host_balance'])   + ')')
    deployment_splitted = re.split(pattern, deployment_section  )
    deployment_splitted = list(filter(None, deployment_splitted)) 
    deployment_splitted = [i.strip() for i in deployment_splitted]
    deployment_splitted = list(filter(None, deployment_splitted))
    if 'provisions' in deployment_splitted[0]:
        deployment_splitted = deployment_splitted[1:]
    add_info = deployment_splitted[1::2]
    return add_info

In [108]:
%%time
deployment_data['host_balance'] = deployment_data['deployment'].apply(lambda x: get_hosts(x) )

deployment_data['Additional_Info'] = deployment_data['deployment'].apply(lambda x: get_additional_info(x) )

Wall time: 842 ms

In [351]:
deployment_data['']

,country_co,paragraph,year,COUNTRY_CO,deployer,cowc1,ccode1,year_deployer,year_ccode1,deployment,foreign_forces_section,deployment_parsed
0,Canada CAN,\nCanadian Dollar $\n2011\n2012\n2013\nGDP \n...,2012,CANADA CAN,Canada,CAN,20,2012_Canada,2012_20,\nAFGHANISTAN\nNATO • ISAF (NTM-A) • Operation...,\nUnited Kingdom 420; 2 trg unit; 1 hel flt wi...,{'AFGHANISTAN': 'NATO • ISAF (NTM-A) • Operati...
1,United States US,\nUnited States Dollar $\n2011\n2012\n2013\nG...,2012,UNITED STATES US,United States,USA,2,2012_United States,2012_2,"\nAFGHANISTAN\nNATO • ISAF 68,000; 1 corps HQ...",\nCanada 3 USCENTCOM; 303 NORTHCOM (NORAD)\nGe...,"{'AFGHANISTAN': 'NATO • ISAF 68,000; 1 corps H..."
2,Albania ALB,\nAlbanian Lek \n2011\n2012\n2013\nGDP \nlek ...,2012,ALBANIA ALB,Albania,ALB,339,2012_Albania,2012_339,\nLegal provisions for foreign deployment:\nCo...,\nItaly 18 (Delegazione Italiana Esperti),"{'AFGHANISTAN': 'NATO • ISAF 212; 1 inf coy', ..."
3,Albania ALB,\nAlbanian Lek \n2011\n2012\n2013\nGDP \nlek ...,2012,ALBANIA ALB,Albania,ALB,339,2012_Albania,2012_339,\nLegal provisions for foreign deployment:\nCo...,\nItaly 18 (Delegazione Italiana Esperti),"{'AFGHANISTAN': 'NATO • ISAF 212; 1 inf coy', ..."
4,Austria A,UT \nEuro € \n2011\n2012\n2013\nGDP \n€\n301bn...,2012,AUSTRIA A,Austria,AUS,305,2012_Austria,2012_305,\nLegal provisions for foreign deployment:\nCo...,no foreign forces,"{'AFGHANISTAN': 'NATO • ISAF 3', 'BOSNIA-HERZE..."
...,...,...,...,...,...,...,...,...,...,...,...,...
212,Uganda UGA,\nUgandan Shilling UGX\n2021\n2022\n2023\nGDP ...,2022,UGANDA UGA,Uganda,UGA,500,2022_Uganda,2022_500,"\nSOMALIA: AU • ATMIS 5,800; 7 inf bn; UN • UN...",no foreign forces,"{'SOMALIA': ': AU • ATMIS 5,800; 7 inf bn; UN ..."
213,Uganda UGA,\nUgandan Shilling UGX\n2021\n2022\n2023\nGDP ...,2022,UGANDA UGA,Uganda,UGA,500,2022_Uganda,2022_500,"\nSOMALIA: AU • ATMIS 5,800; 7 inf bn; UN • UN...",no foreign forces,"{'SOMALIA': ': AU • ATMIS 5,800; 7 inf bn; UN ..."
214,Zambia Z,MB\nZambian Kwacha ZMW\n2021\n2022\n2023\nGDP ...,2022,ZAMBIA Z,Zambia,ZAM,551,2022_Zambia,2022_551,\nCENTRAL AFRICAN REPUBLIC: UN • MINUSCA 930; ...,no foreign forces,{'CENTRAL AFRICAN REPUBLIC': ': UN • MINUSCA 9...
215,Zimbabwe ZWE,\nZimbabwe Dollar ZWL\n2021\n2022\n2023\nGDP \...,2022,ZIMBABWE ZWE,Zimbabwe,ZIM,552,2022_Zimbabwe,2022_552,\nCENTRAL AFRICAN REPUBLIC: UN • MINUSCA 3\nDE...,no foreign forces,{'CENTRAL AFRICAN REPUBLIC': ': UN • MINUSCA 3...
216,Zimbabwe ZWE,\nZimbabwe Dollar ZWL\n2021\n2022\n2023\nGDP \...,2022,ZIMBABWE ZWE,Zimbabwe,ZIM,552,2022_Zimbabwe,2022_552,\nCENTRAL AFRICAN REPUBLIC: UN • MINUSCA 3\nDE...,no foreign forces,{'CENTRAL AFRICAN REPUBLIC': ': UN • MINUSCA 3...

Смотрим в каких случаях число стран хостящих войска не совпадает с длинной additional_info

In [86]:
deployment_data['host_len'] = deployment_data['host_balance'].apply(lambda x: len(x))
deployment_data['add_info'] = deployment_data['Additional_Info'].apply(lambda x: len(x))


deployment_data['need_check'] = np.where(
    deployment_data['host_len'] != deployment_data['add_info'] , 1, 0
)

error_abolute = deployment_data[deployment_data.need_check ==1 ].shape[0]
error_percentage = round(100 * deployment_data[deployment_data.need_check ==1 ].shape[0]/deployment_data.shape[0] ,2 )

print("Функция ошибается всего на {} случаях деплоймента - т е одной страны в отдельный год.\
\nЭто {} от удачного числа спарсенных деплойментов".format(error_abolute, error_percentage))

print("")


deployment_data_clear = deployment_data[deployment_data.need_check !=1 ]
deployment_data_clear = deployment_data_clear[[ 'deployment', 'ccode1', 'deployer', 'host_balance', 'Additional_Info', 'year']]

Функция ошибается всего на 3 случаях деплоймента - т е одной страны в отдельный год.
Это 0.17 от удачного числа спарсенных деплойментов

In [87]:
print(deployment_data[deployment_data.need_check ==1 ]['country_co'].to_list() )

['Bangladesh BGD', 'United States US', 'Vietnam VNM']

In [88]:
deployment_data_clear.columns

Index(['deployment', 'ccode1', 'deployer', 'host_balance', 'Additional_Info',
       'year'],
      dtype='object')

In [89]:
data = {'id': [1, 2, 3],
        'name': ['Alice', 'Bob', 'Charlie'],
        'subjects': [['Math', 'Science'], ['History'], ['English', 'Art']],
        'grades': [[90, 85], [88], [95, 92]]}
df = pd.DataFrame(data)
df

   id     name         subjects    grades
0   1    Alice  [Math, Science]  [90, 85]
1   2      Bob        [History]      [88]
2   3  Charlie   [English, Art]  [95, 92]

In [31]:
df.explode('subjects').explode('grades')

   id     name subjects grades
0   1    Alice     Math     90
0   1    Alice     Math     85
0   1    Alice  Science     90
0   1    Alice  Science     85
1   2      Bob  History     88
2   3  Charlie  English     95
2   3  Charlie  English     92
2   3  Charlie      Art     95
2   3  Charlie      Art     92

In [36]:
balance_parsed = deployment_data_clear.explode('host_balance')
add_info = deployment_data_clear.explode('Additional_Info')['Additional_Info'].to_list()
balance_parsed['Additional_Info'] = add_info

In [37]:
balance_parsed = balance_parsed.merge(host, how= 'left', on ='host_balance')
balance_parsed['dyad'] = balance_parsed['year'].astype(str) +'_' + balance_parsed['ccode1'].astype(str) + '_' +balance_parsed['ccode2'].astype(str)
balance_parsed['dyad_country'] = balance_parsed['year'].astype(str) +'_' + balance_parsed['deployer'].astype(str) + '_' +balance_parsed['host'].astype(str)

In [25]:
balance_real = pd.read_excel("12.01.24.xlsx")
decoder1 = pd.read_excel(r'C:\Users\79534\Documents\Articles\data\coding.xlsx', sheet_name =0)
decoder2 =  pd.read_excel(r'C:\Users\79534\Documents\Articles\data\coding.xlsx', sheet_name=1)
balance_real = balance_real.merge(decoder1, how ='left', on='ccode1')
balance_real = balance_real.merge(decoder2, how ='left', on='ccode2')

In [38]:
balance_real['dyad'] = balance_real['year'].astype(str) +'_' + balance_real['ccode1'].astype(str) + '_' +balance_real['ccode2'].astype(str)
balance_real['dyad_country'] = balance_real['year'].astype(str) +'_' + balance_real['deployer'].astype(str) + '_' +balance_real['host'].astype(str)

In [42]:
b = balance_real[balance_real.year > 2012]

In [40]:
balance_real['year'].unique()

array([1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
       1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       2018, 2019, 2020, 2021, 2022], dtype=int64)

In [51]:
pd.DataFrame(set(b['dyad_country']) -  set(balance_parsed['dyad_country'])   )

                                       0
0                 2019_Thailand_Pakistan
1            2022_Germany_United States
2      2013_United States_United Kingdom
3                    2021_Norway_Somalia
4      2022_Spain_Bosnia and Herzegovina
..                                   ...
762  2017_Ireland_Bosnia and Herzegovina
763                    2015_India_Israel
764          2013_Germany_United States
765               2018_Finland_Lithuania
766            2017_Philippines_Pakistan

[767 rows x 1 columns]

In [72]:
'GERMANY' in g.explode('host_balance')['host_balance'].to_list()

True

In [97]:
g = deployment_data_clear[(deployment_data_clear.year == 2013 )& (deployment_data_clear.deployer =='United States') ]

In [78]:
g1 = g.explode('host_balance')
g1['ai'] = g.explode('Additional_Info')['Additional_Info'].to_list()

In [ ]:
g1

In [79]:
'PAKISTAN' in g1['host_balance'].to_list()

False

In [99]:
g

Empty DataFrame
Columns: [deployment, ccode1, deployer, host_balance, Additional_Info, year]
Index: []

In [96]:
g['deployment'].values

array([], dtype=object)

### Что починить

 - \nINDIA/PAKISTAN

In [49]:
len(set(balance_parsed['dyad']) - set(b['dyad']) )

1792